:root {
  --blue: #2c7dfa;
  --blue-shade: #3685ff;
  --dark-navy: #1f314f;
  --grey: #7d889e;
  --light-grey: #d5e1ef;
  --white: #ffffff;
}

* {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  letter-spacing: 0.19px;
  background-color: var(--light-grey);
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem 1rem 2.5rem 1rem;
  border-radius: 1.25rem;
  background-color: var(--white);

  &__qr {
    border-radius: 0.625rem;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: 1.375rem;
    line-height: 1.75rem;
    font-weight: bold;
    color: var(--dark-navy);
    text-align: center;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    color: var(--grey);
    text-align: center;
  }
}

.attribution {
  margin-top: 1rem;
  text-align: center;
}
